body {
    transition: all 0.3s ease;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

#profile-img {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
    border-radius: 10px;
}

#controls {
    margin-bottom: 20px;
    text-align: left !important;
}

/* --- ZADANIE 4: MOTYWY --- */
.green-theme {
    background-color: #d4edda !important;
    color: #155724 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: left !important;
}

.red-theme {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    font-family: "Times New Roman", Times, serif !important;
    text-align: right !important;
}

.hidden {
    display: none !important;
}

#contactForm input, #contactForm textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

#validationMessage {
    margin-top: 10px;
    font-weight: bold;
}
img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
#notes-section input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

#notes-section button {
    padding: 10px;
    cursor: pointer;
}

#notesList li {
    margin-top: 10px;
}
